@use "functions" as f;

div {
    border: 1px solid f.$color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;

    %text{
        text-align: center;
        color: f.$color-tertiary;
    }

    h1 {
        @extend %text;
        border-bottom: 1px solid f.$color-secondary;
    }

    h2 {
        @extend %text;
        padding: 1rem;
        border: 1px solid f.$color-primary;
    }


    section {
        display: flex;
        width: 100%;

        article {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;

            p {
                text-align: center;
            }
        }

        .odd {
        @include f.article-card(f.$color-secondary, f.$color-tertiary, 16);
        }
        
        .even {
        @include f.article-card(f.$color-primary, f.$color-tertiary, 16);
        }

        .footer {
        @include f.article-card(f.$color-tertiary, f.$color-secondary, 24);
        margin-top: 15px;
        }   
    }
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
  

@each $key, $value in (1rem:1rem, 2rem:2rem, 3rem:3rem) {
    .fs-#{$key} {font-size: $value;}
}
  
@for $var from 1 to 20 {
    .box-container div:nth-child(#{$var}) {
        border: 1px solid f.$color-primary;
        width: 45px;
        height: 45px;
        background-color: darken(white, $var * 5%);
        color: lighten(black, $var * 5%);
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }

    @if $var == 10 {
        .box-container div:nth-child(#{$var}) {
            background-color: f.$color-secondary;
            color: f.$color-primary;
            font-weight: bold;
        }
    }
}
