div {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
div h2, div h1 {
  text-align: center;
  color: green;
}
div h1 {
  border-bottom: 1px solid blue;
}
div h2 {
  padding: 1rem;
  border: 1px solid red;
}
div section {
  display: flex;
  width: 100%;
}
div section article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
div section article p {
  text-align: center;
}
div section .odd {
  text-align: center;
  width: 100%;
  color: blue;
  border: 1px solid green;
  font-size: calc(16/16)rem;
}
div section .even {
  text-align: center;
  width: 100%;
  color: red;
  border: 1px solid green;
  font-size: calc(16/16)rem;
}
div section .footer {
  text-align: center;
  width: 100%;
  color: green;
  border: 1px solid blue;
  font-size: calc(24/16)rem;
  margin-top: 15px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.box-container div:nth-child(1) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  color: #0d0d0d;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(2) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #e6e6e6;
  color: #1a1a1a;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(3) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #d9d9d9;
  color: #262626;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(4) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #cccccc;
  color: #333333;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(5) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #bfbfbf;
  color: #404040;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(6) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #b3b3b3;
  color: #4d4d4d;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(7) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #a6a6a6;
  color: #595959;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(8) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #999999;
  color: #666666;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(9) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #8c8c8c;
  color: #737373;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(10) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: gray;
  color: gray;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(10) {
  background-color: blue;
  color: red;
  font-weight: bold;
}

.box-container div:nth-child(11) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #737373;
  color: #8c8c8c;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(12) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #666666;
  color: #999999;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(13) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #595959;
  color: #a6a6a6;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(14) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #4d4d4d;
  color: #b3b3b3;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(15) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #404040;
  color: #bfbfbf;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(16) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #333333;
  color: #cccccc;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(17) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #262626;
  color: #d9d9d9;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(18) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #1a1a1a;
  color: #e6e6e6;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-container div:nth-child(19) {
  border: 1px solid red;
  width: 45px;
  height: 45px;
  background-color: #0d0d0d;
  color: #f2f2f2;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

/*# sourceMappingURL=style.css.map */
