body {
    display: grid;
    grid-template-areas:
      'green green green green'
      'yellow red blue blue'
      'orange orange blue blue';
}
 
#green { grid-area: green; }
#yellow { grid-area: yellow; }
#orange { grid-area: orange; }
#red { grid-area: red; }
#blue { grid-area: blue; }

#yellow ul {
    display: grid;
    grid-template-areas:
      'li li'
      'li li';
}
  
#red ul {
    display: grid;
    grid-template-areas:
      'li li'
      'li li';
}
